header h1{
font-family: times new roman;
margin-left: 10px;
width: 640px;
}
nav ul{
  clear: both;
}
<center>nav li{
  list-style-type:none;
  display: inline;
  padding-left: 40px;</center>
}
a:link{
  text-decoration: none;
}
a:hover{
  color: green;
}
